*{
    margin: 0;
    box-sizing: border-box;
}

/* =========== BASE =========== */
body{
    overflow: hidden;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: #F5F7FB;
}

/* =========== MAIN CONTAINER =========== */
.blob{
    
}